$color-white:#ffffff;
$color-primary:#d71920;
$color-border:#e5e3e3;
$color-text:#222;
$color-text-menu:#535353;
$color-text-input:#abaaaa;
$color-text-primary:#a30d14;
$color-text-title:#010101;
$color-text-sub-title:#646262;
$color-header-top:#a30d14;
$color-text-item:#4c4b4b;
$font-title:40px;
$font500:500;